publish
resources/AselapseIcon.aseprite
resources/AselapseIcon-lapse.aseprite
AselapseIcon-lapse.aseprite
AselapseIcon.aseprite
AselapseIcon-lapse.json
AselapseIcon-lapse-lapse.json
resources/AselapseIcon-lapse-lapse.json
AselapseIcon-lapse-lapse.aseprite
